* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

ul li {
  list-style: none;
}

input, textarea {
  outline: none;
}

:root {
  --nav-background-color: #dbeafe;
  --nav-border-color: #0ea5e9;
  --icon-button-hover-color: #eff6ff;
  --icon-default-fill-color: #0ea5e9;
  --icon-default-stroke-color: #0ea5e9;
  --icon-marker-default-color: #374151;
  --main-header-color: #2563eb;
  --text-blue-color: #3b82f6;
}

body {
  position: relative;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  /* color: var(--main-header-color); */
}

.hidden {
  /* display: none; */
  visibility: hidden;
  width: 0;
  height: 0;
  border: none;
  margin: 0;
  padding: 0;
}

.popup-overlay {
  background-color: #00000010;
}

.popup-overlay,
.sub-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9999;
}

#main-container {
  height: 100vh;
  display: grid;
  grid-template-areas: "nav nav" "aside main" "footer footer";
  grid-template-columns: minmax(200px, 1fr) 3fr;
  grid-template-rows: auto 1fr auto;
  background-color: white;

}

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  padding: 0.625rem;
  background-color: var(--nav-background-color);
  /* border-bottom: 1px solid var(--icon-default-stroke-color); */
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > .search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

nav > ul > .search-bar > svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--icon-default-fill-color);
}

nav .icon-button > svg {
  fill: var(--icon-default-fill-color);
}

nav .icon-button:hover {
  background-color: var(--icon-button-hover-color);
}


nav > ul > .search-bar > input {
  width: max(90%, 300px);
  border: 1px solid var(--nav-border-color);
  border-radius: 50px;
  padding: 0.25rem 1rem;
}


nav > ul > .user-account {
  display: flex;
  gap: 1rem;
}

.icon-button {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  position: relative;
}

.icon-button > svg {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-button.small-icon {
  gap: 0.25rem ;
}

.icon-button.small-icon > svg {
  width: 1rem;
  height: 1rem;
}

.icon-button.small-icon > span {
  font-size: 0.875rem;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button.delete-task-button > svg {
  fill: red;
}

.button {
  background-color: inherit;
  border: 1px solid gray;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.button:hover {
  cursor: pointer;
  background-color: #e5e7eb;
}

aside {
  grid-area: aside;
  padding: 0.25rem 0.125rem 1rem 2rem;
  /* background-color:  #f9fafb; */
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--icon-default-stroke-color);
  overflow-y: auto;
}

aside > *:not(hr) {
  padding: 0.5rem;
}

details > summary {
  cursor: pointer;
}

details > summary > * {
  display: inline;
}


#menu-project-container  *:not(summary):not(li):not(li *):not(#project-list):not(summary *) {
  padding-left: 1rem;
}

#menu-project-container summary, #menu-project-container li {
  padding: 0.5rem 0;
}

#menu-project-container > summary > .icon-button  {
  padding: 0;
  float: right;
  margin-right: 0.25rem;
}

#menu-project-container > summary > .icon-button:hover > svg  {
  fill: var(--icon-default-stroke-color);
}

#menu-project-container > summary > .icon-button > svg  {
  fill: black;
}

#menu-project-container > summary {
  list-style-type: "⮚";
}

#menu-project-container[open] > summary {
  list-style-type: "⮛"
}

#menu-project-container > summary::marker {
  font-size: 1.125rem;
  color: var(--icon-default-fill-color);
}

#project-list > details > summary {
  list-style-type: "◉ "
}

#project-list > details > summary::marker {
  color: var(--icon-marker-default-color);
}

#project-list > details > summary > .icon-button {
  padding: 0;
  float: right;
  margin-right: 0.25rem;
}

#project-list > details > summary > .icon-button:hover > svg  {
  fill: #dc2626;
}

#project-list > details > summary > .icon-button > svg  {
  fill: #fca5a5;
}


aside > *:not(hr), #menu-project-container li {
  transition: all 0.35s;
  cursor: pointer;
}

aside > *:hover:not(hr):not(details), #menu-project-container li:hover, #menu-project-container summary:hover {
  background-color: #e5e7eb;
}

aside .icon-button:not(#show-vacation-tasks):not(details *) > svg{
  fill: var(--icon-default-fill-color);
}

aside .icon-button#show-vacation-tasks > svg {
  stroke: var(--icon-default-fill-color);
}

aside .icon-button:hover,
#menu-project-container summary:hover,
#project-list li:hover {
  background-color: var(--icon-button-hover-color);
}

main {
  grid-area: main;
  padding: 1rem 0.5rem
}

.list-tasks-section {
  max-width: 800px;
  margin: auto;
}

.list-tasks-section > header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list-tasks-section > header > .features {
  display: flex;
  gap: 0.25rem;
}

.list-tasks-section > header > .features > button:hover {
  color: var(--text-blue-color);
}


#list-tasks-container > ul > li {
  display: grid;
  grid-template-areas: "checkbox title feature" "checkbox description description";
  grid-template-columns: auto 1fr auto;
  gap:0 0.25rem;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

#list-tasks-container > ul > li:hover {
  padding: 0.25rem;
  border: 1px solid var(--icon-default-stroke-color);
  border-radius: 5px;
}

#list-tasks-container > ul > li *:hover {
  cursor: pointer;
}

#list-tasks-container > ul > li > input {
  grid-area: checkbox;
  position: relative;
  appearance: none;
  align-self: start;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

#list-tasks-container > ul > li > input:hover::after {
  display: block;
  color: #d1d5db;
}

#list-tasks-container > ul > li > input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border-radius: 50%;
}

#list-tasks-container > ul > li > input:checked::before
 {
  border-color: #22c55e;
}

#list-tasks-container > ul > li > input::after {
  content: "✔";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20%, -5%);
  font-size: 0.75rem;
}

#list-tasks-container > ul > li > input:checked::after {
  display: block;
  color: #22c55e
}

#list-tasks-container > ul > li > h4 {
  grid-area: title;
  cursor: default;
}

#list-tasks-container > ul > li > p {
  grid-area: description;
  font-size: 0.875rem;
  overflow: hidden;
  margin-right: 3rem;
  line-height: 1rem;
  max-height: 3rem;
  /* cursor: default; */
}

#list-tasks-container > ul > li > .group-features {
  grid-area: feature;
  display: flex;
  gap: 0.25rem;
}

#list-tasks-container > ul > li > .group-features > * {
  padding: 0.125rem 0.25rem;
}

#list-tasks-container > ul > li > .group-features > *:hover {
  cursor: pointer;
  background-color: #e5e7eb;
}

#list-tasks-container > ul > li > .group-features {
  visibility: hidden;
}

#list-tasks-container > ul > li:hover > .group-features {
  visibility: visible;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--nav-background-color);
}

/* Task editor box */
.box-task-editor {
  display: none;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.box-task-editor__body,
.dialog-task-editor__body {
  border-bottom: 1px solid #d1d5db;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.item-actions {
  display: flex;
}

.item-actions > .task-due-date > svg {
  fill: var(--icon-default-fill-color);
}

.item-actions > .project-contain-task > svg {
  fill: #facc15;
  height: 1.125rem;
  width: 1.125rem;
}

.item-actions > .task-label > svg {
  fill: #ef4444;
}


.task-priority-list .task-priority svg,
.project-list .li svg{
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
}

.task-priority-list .task-priority span,
.project-list li span {
  font-size: 0.875rem;
}

.task-priority.priority-4 svg {
  fill: black;

}

.task-priority.priority-3 svg {
  fill: #eab308;
}

.task-priority.priority-2 svg {
  fill: #f97316;
}

.task-priority.priority-1 svg {
  fill: #dc2626;
}


.editor-task-title {
  width: 100%;
  border: none;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.editor-task-description {
  font-size: 0.875rem;
  line-height: 1rem;
  height: 2rem;
  max-height: 7rem;
  width: 100%;
  resize: none;
  border: none;
}

.add-task-button  {
  width: fit-content;
}

.add-task-button > .icon-button > svg{
  fill: white;
  stroke: black;
}

.add-task-button:hover > .icon-button > svg{
  fill: var(--icon-default-fill-color);
  stroke: white;
}

.add-task-button:hover > .icon-button > span {
  color: var(--text-blue-color);
}

.task-label-list,
.task-priority-list,
.project-list {
  position: absolute;
  /* left: 0;
  top: 1.5rem; */
  border: 1px solid #d1d5db;
  text-align: left;
  background-color: white;
}

.task-label-list input{
  border: none;
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #d1d5db;
  font-size: 0.875rem;
}

.task-label-list ul > li,
.task-priority-list ul > li,
.project-list ul > li {
  padding: 0.125rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  min-width: 120px;
}

.task-label-list ul > li > *,
.task-priority-list ul > li > *,
.project-list ul > li > * {
  cursor: pointer;
  font-size: 0.875rem;
}

/* Dialog */
.dialog-task-editor {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0.5rem;
  max-width: 550px;
  width: 550px;
}

.new-project-dialog {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  max-width: 300px;
  width: 300px;
}

.new-project-dialog__header,
.new-project-dialog__footer {
  background-color: #f3f4f6;
  padding: 0.5rem 1rem;
}

.new-project-dialog__header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.new-project-dialog__body {
  padding: 0.5rem 1rem;
}

.new-project-dialog__body label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.new-project-dialog__body input {
  display: block;
  line-height: 1.25rem;
  width: 100%;
  margin-bottom: 0.75rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem
}

.new-project-dialog__footer {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: right;
}

.new-project-dialog__footer > button{
  padding: 0.25rem 0.5rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.25rem;
  font-weight: 700;
}

.new-project-dialog__footer > button:hover {
  cursor: pointer;
}

.new-project-dialog__footer > .cancel-new-project {
  background-color: white;
}

.new-project-dialog__footer > .cancel-new-project:hover{
  background-color: #cbd5e1;
}

.new-project-dialog__footer > .add-new-project {
  background-color: var(--icon-default-fill-color);
  color: white;
  border: var(--main-header-color);
  padding: 0.25rem 1rem;
}