* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
  height: 100vh;
  background: center / cover no-repeat url("./kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg");
}

main {
  margin-top: 50px;
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #d1d5db;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  text-align: left;
}

#content {
  height: 100vh;
  display: grid;
  grid-template-areas: "navbar" "main" "footer";
  grid-template-rows: auto 1fr auto;
}

.nav-container {
  width: 100%;
  grid-area: navbar;
  background: linear-gradient(to left, #ffffffbb, #f0f9ffbb  );
  position: fixed;
  z-index: 1;
}

.nav-item-list {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  transition: all 0.5s;
}

.nav-item:hover  {
  background-color: #d4d4d8;
  color: white;
  cursor: pointer;
  position: relative;
}

.nav-item.active {
  color: white;
  background-color: #a1a1aa;
}

.nav-item::after {
  content:  "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: none;
  transition: all 0.3s;
}

.nav-item:not(.active):hover::after {
  border-bottom: 4px solid #0284c7;
}

.home-image {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.main-content {
  max-width: 800px;
  height: 100%;
  margin: auto;
  position: relative;
  background-color: #0006;
  color: white;
}

.text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #0006;
  color: white;
}

.content-item {
  width: 50%;
  margin: 1rem auto 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #0008;
  font-size: 1.125rem;
}

.menu-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem;
  grid-auto-rows: 100px;
  gap: 1rem;
  padding: 0 2rem 1rem 2rem;
}

.menu-content > h1 {
  grid-column: 1 / 3;
}

.dish-container {
  display: grid;
  grid-template-areas: "image title" "image price";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 50px;
  justify-content: center;
  gap: 0rem 1rem;
  transition: all 1s;
  border-radius: 8px;
}

.dish-container:hover {
  transform: scale(1.25);
  background-color: #0008;
}

.dish-container img {
  width: 100px;
  height: 100px;
  object-fit:cover;
  grid-area: image;
}

.dish-container h3 {
  grid-area: title;
}

.dish-container p {
  grid-area: price;
}

.contact-content {
  text-align: center;
}

.contact-content > div {
  margin-bottom: 1rem;
}